@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Sacramento|Spartan&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #edf2f1;
}

.hide {
  display: none;
}

.container-fluid #cart .hide {
  display: none;
}

.container-fluid {
  padding: 0px !important;
  margin: 0px !important;
  background-color: #edf2f1;
}

.navbar {
  background-color: #edf2f1;
}

.navbar .socialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar .socialMedia i {
  color: #214254;
  padding: 0 0.5rem;
}

.socialMedia i:hover {
  transform: scale(1.1);
}

.navbar .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: #3f7c9d;
  padding: 0;
  margin: 0.5rem 1rem;
  font-family: "Amatic SC";
  font-weight: bold;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #394146;
}

.navbar .navbar-nav .nav-item.active .nav-link {
  color: #214254;
  border-bottom: 2px solid #214254;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid header {
  background-image: url("../img/background.png");
  background-position: center;
  background-size: 100%;
  text-align: center;
  margin: 0 0 50px 0;
  padding: 0px;
  height: 20vh;
  min-height: 70px;
}

.container-fluid header h1 {
  display: block;
  position: absolute;
  left: 37vw;
  font-size: 5.5rem;
  font-family: "Sacramento";
  color: #214254;
  text-shadow: 1px 1px 0 #edf2f1;
  padding-top: 1rem;
}

.container-fluid header h3 {
  display: block;
  position: absolute;
  padding-top: 5.5rem;
  left: 40vw;
  font-size: 2.5rem;
  font-family: "Amatic SC";
  color: #214254;
  text-shadow: 1px 1px 0 #edf2f1;
  margin: 0px;
}

.container-fluid main {
  background-color: #edf2f1;
  max-width: 80%;
  align-content: center;
  font-family: "Amatic SC";
  text-align: center;
}

.container-fluid .showCart,
.container-fluid .cart {
  text-decoration: none;
  color: #394146;
}

.container-fluid .hideShowCart:hover {
  transform: scale(1.1);
}

.container-fluid .showCart {
  position: sticky;
  top: 0;
  float: right;
  padding-right: 1rem;
}

.container-fluid .cart {
  position: sticky;
  top: 0;
  float: right;
  font-family: "Amatic SC";
  background-color: white;
  box-shadow: 0 0 10px #394146;
  height: 17rem;
  width: 15rem;
}

.container-fluid .cart i {
  padding-left: 0.3rem;
}

.container-fluid .cart .productCart {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr 2fr;
  margin: 0.5rem;
  height: 1.5rem;
  border-bottom: 0.1px solid #394146;
}

.container-fluid .cart .productCart .cartImg img {
  max-width: 50%;
}

.container-fluid .cart .shipping {
  display: grid;
  grid-template-columns: 8fr 2fr;
  margin: 1rem 0.5rem 0.5rem 0.5rem;
  height: 1.5rem;
}

.container-fluid .cart .cartTotal {
  display: grid;
  grid-template-columns: 8fr 2fr;
  margin: 0.5rem;
  height: 1.5rem;
}

.container-fluid main .about {
  border-top: 0.1px solid #394146;
  border-bottom: 0.1px solid #394146;
}

.container-fluid main .about p {
  padding: 1rem 0;
  margin: 0;
}

.container-fluid main .products .selection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.container-fluid main .products h3 {
  padding: 2rem 0 1rem 0;
}

.container-fluid main .products .selection img {
  max-width: 50%;
}

.container-fluid main .products .increase:hover,
.container-fluid main .products .decrease:hover {
  transform: scale(1.1);
}

.container-fluid main .products .selection .radioButtons {
  display: inline-block;
  text-align: center;
}

.container-fluid main .products .selection .radioButtons div {
  display: inline-block;
  margin: 0 0.5rem;
}

input[type=number] {
  width: 1.5rem;
  text-align: center;
  border-radius: 1px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

.container-fluid main .products .selection .quantity p {
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.container-fluid main .products .selection .addToCart {
  padding: 1rem 0;
  font-size: 1.3rem;
}

.container-fluid main .products .selection .addToCart:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .container-fluid header h1 {
    left: 25vw;
  }

  .container-fluid header h3 {
    left: 30vw;
  }
}
@media (max-width: 576px) {
  .container-fluid header h1 {
    left: 15vw;
  }

  .container-fluid header h3 {
    left: 20vw;
  }

  .container-fluid main .products .selection .radioButtons {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-height: 450px) {
  .container-fluid header h1 {
    font-size: 3.5rem;
  }

  .container-fluid header h3 {
    font-size: 1.5rem;
    padding-top: 4rem;
  }
}
@media (max-height: 300px) {
  .container-fluid header h1 {
    font-size: 2.5rem;
  }

  .container-fluid header h3 {
    font-size: 1rem;
    padding-top: 3rem;
  }
}

/*# sourceMappingURL=main.css.map */
